@model IEnumerable<stonecutter.Models.TimeTable>
@{

}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/TimeTable.css" />
</head>
    <body>
        <h2>List of Scheduled Installations</h2>
        <table id="timetables">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Phone number</th>
                    <th>Email</th>
                    <th>Description</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
            @foreach (stonecutter.Models.TimeTable t in Model)
            {
                <tr>
                    <td>@t.Id</td>
                    <td>@t.ClientName</td>
                    <td>@t.Address</td>
                    <td>@t.PhoneNumber</td>
                    <td>@t.Email</td>
                    <td>@t.Description</td>
                    <td class="c-table"><a href="~/TimeTable/EditTimeTable/@t.Id" class="tbButton">Edit</a></td>
                    <td class="c-table"><a href="~/TimeTable/DeleteTimeTable/@t.Id" class="tbButton">Delete</a></td>
                </tr>
            }
            <tr>
                
            </tr>
            </tbody>
        </table>

    <a href="~/TimeTable/CreateTimeTable" class="pgButton">Schedule an installation</a>
    <a href="~/" class="pgButton">Back to Main Page</a>
    </body>
</html>
